

<nav class="navbar fixed-top navbar-dark navbar-expand-md bg-success text-white">
    <a class="text-white navbar-brand" href="/">
        <i class="fab fa-pagelines"></i> Your Little Boutique
    </a>
</nav>
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You! Your order will be delivered soon...</h1>

  <hr>

  <p class="lead">
    <a class="btn btn-primary" href="/#" role="button">Continue to homepage</a>
  </p>
</div>

